
.transaction-form.form-income {
  background: #e5edff;
  border: 1px solid #001f9b;
}

.transaction-form.form-income h3 {
  color: #001f9b;
}

.transaction-form.form-income button {
  background: #001f9b;
}

.transaction-form.form-income button:hover {
  background: #011b8f;
}

.transaction-form.form-expense {
  background: #ffe5e5;
  border: 1px solid #be0101;
}

.transaction-form.form-expense h3 {
  color: #be0101;
}

.transaction-form.form-expense button {
  background: #be0101;
}

.transaction-form.form-expense button:hover {
  background: #b30404;
}
